@model IEnumerable<Survey2.Models.Survey>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="background-color:#367fa9;color:white;">Anketler</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a asp-action="GetAnswers" asp-route-id="@item.Id" class="btn btn-warning">Anketi Çöz</a>
                </td>
            </tr>
        }
    </tbody>
</table>