@model Survey2.Models.Survey

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Anketi Yaratan Kullanıcı</label>
                <select asp-for="UID" class="form-control " asp-items="ViewBag.UID"></select>
                <label  class="control-label">Anket Adı </label>
                <input type="text" class="form-control mt-5" asp-for="Text"/>

            </div>
            <div class="form-group">
                <input type="submit" value="Yeni Anket Yarat" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

