@model Survey
@{
    ViewData["Title"] = "GetSurveyQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-12">
    <h2>Sorular ve Cevaplar</h2>

    <table class="table table-bordered table-striped m-1 p-1">
        <tr>
            <th>Sorular</th>
            <th>Cevaplar</th>

        </tr>

        @if (Model.Questions.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">
                    No Questions
                </td>
            </tr>
        }
        else
        {

            @foreach (var question in Model.Questions)
            {
                <tr>

                    <td>@question.Text</td>


                    @foreach (var choice in question.Choices)
                    {
                        <td>@choice.Text</td>                        
                    }
                </tr>
            }


        }



    </table>


</div>

