@model IEnumerable<Annoucement>
@{
    if (this.User.IsInRole("Admin") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}






<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">YES-NO RATE</h3>

        <div class="box-tools pull-right">

        </div>
    </div>
    <div id="chartContainer" style="height: 280px; width: 100%;"></div>
</div>



<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
        <div class="inner">
            <h3>65</h3>

            <p>Total Number of Votes</p>
        </div>

        <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>




<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>44</h3>

            <p>Total User</p>
        </div>

        <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="info-box bg-aqua pull-right">


    <div class="info-box-content">
        <span class="info-box-text">
            asdasd
        </span>

        <span class="info-box-text">


        </span>



    </div>
    <!-- /.info-box-content -->
</div>

<script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/adminlte/js/jquery.slimscroll.min.js"></script>
<script src="~/lib/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="~/lib/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/lib/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.tr.js"></script>
<script src="~/lib/adminlte/js/fastclick.js"></script>
<script src="~/lib/adminlte/js/adminlte.min.js"></script>
<script src="~/lib/plugins/select2/js/select2.full.min.js"></script>



<script type="text/javascript">




    $(document).ready(function () {


        $('.sidebar-menu').tree();


        $('[data-toggle="popover"]').popover()




        $('.form_datetime').datetimepicker({
            language: 'tr',
            format: 'dd-mm-yyyy hh:ii',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        $('.form_date').datetimepicker({
            language: 'tr',
            format: 'dd-mm-yyyy',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('.form_time').datetimepicker({
            language: 'tr',
            format: 'hh:ii',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });

    })
</script>
