
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-md-12">
    <div class="bg-primary text-white col-lg-pull-1 m-1">
        <h2>Erişim Hakkınız Yok.</h2>
    </div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Geri Dön</a>
</div>
