@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-md-12">
    <div class="bg-primary text-white col-lg-pull-1 m-1">
        <h2>Giriş Sayfası</h2>

    </div>

    <div class="text-danger" asp-validation-summary="All"></div>

    <form asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

        <div class="form-group">
            <label asp-for="Name">Kullanıcı Adı</label>
            <input asp-for="Name" class="form-control" />

        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Giriş</button>



    </form>
    @*<button type="submit" value="ResetPassword" class="btn btn-primary">Reset Password</button>*@
    <a asp-action="ResetPassword" class="btn btn-danger">Şifre Yenile</a>




</div>
    

