@model Survey2.Models.Annoucement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Annoucement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Duyuru
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>

        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Düzenle</a>
    <a asp-action="Index" class="btn btn-dark">Duyurular'a Dön</a>
</div>
